@import "tailwindcss";

@theme {
  --font-primary: "Poppins", "serif";

  --color-primary: #4880ff;
  --color-white: #ffffff;
  --color-secondary: #111827;
  --color-muted-text: #6b7280;
  --color-border: #e5e7eb;

  --bg-primary: #4880ff;
  --bg-white: #ffffff;
  --bg-sidebar: #f9fafb;
  --bg-card: #ffffff;
}

.nav-item {
  @apply flex items-center gap-2 px-4 py-2 rounded-lg cursor-pointer text-black;
}

.nav-item--active {
  @apply bg-primary text-white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
